:root {
  --accent: rgb(245, 89, 81);
  --darkBackground: rgb(38, 38, 38);
  --lightBackground: rgb(255, 255, 255);
  --borderMain: #e1e1e14f;
}
/* Google Font */
/* @import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Saira+Extra+Condensed&display=swap'); */

/* From Public Directory 
@font-face {
  font-family: 'Kurale';
  src: url('/fonts/Kurale.ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
} */
input:focus {
  outline:none;
}

li {
  text-decoration: none;
  list-style: none;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* font-family: "Merienda One"; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* button {
  padding: 0.3rem 0.8rem;
  background-color: var(--accent);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.394);
  box-shadow: 0px 0px 13px 2px rgb(184 184 184 / 60%);
  color: rgb(255, 254, 253);
}
button:hover {
    color: white;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.537);
} */

button{
  border:2px solid transparent;
  background-color: var(--accent);
  font-size: 12px;
  color: rgb(241, 241, 241);
  padding: 0.3rem 0.8rem;
  text-transform:capitalize;
  cursor:pointer;
  transform:all 0.3s;
  position:relative;
}
button:hover {
    color: white;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.537);
}
button:before{
  content:"";
  position :absolute;
  width:24px;
  height:24px;
  top:-5px;
    left:-5px;
  border-top:2px solid tomato;
  border-left:2px solid tomato;
  transition:all 0.25s;
}
button:hover:before ,button:hover:after{
  width:110%;
  height:120%;
}
button:after{
  content:"";
  position :absolute;
  width:24px;
  height:24px;
  bottom:-5px;
    right:-5px;
  border-bottom:2px solid rgb(30, 12, 9);
  border-right:2px solid rgb(30, 12, 9);;
  transition:all 0.30s;
}

.altBtn {
  border: 1px solid var(--accent);
  background-color: transparent;
  font-size: 12px;
  color: rgba(29, 29, 29, 0.704);
  padding: 0.3rem 0.8rem;
  text-transform: capitalize;
  cursor:pointer;
  transform:all 0.3s;
  position:relative;
}
.altBtn:hover {
  color: rgba(9, 9, 9, 0.90);
}


@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
}