:root {
  --accent: rgb(245, 89, 81);
  --darkBackground: rgb(38, 38, 38);
  --lightBackground: rgb(255, 255, 255);
}
/* Google Font */
/* @import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Saira+Extra+Condensed&display=swap'); */

/* From Public Directory 
@font-face {
  font-family: 'Kurale';
  src: url('/fonts/Kurale.ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
} */
input:focus {
  outline:none;
}

li {
  text-decoration: none;
  list-style: none;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* font-family: "Merienda One"; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
}