:root {
  --accent: rgb(245, 89, 81);
  --darkBackground: rgb(38, 38, 38);
  --lightBackground: rgb(255, 255, 255);
  --borderMain: #e1e1e14f;
}
/* Google Font */
/* @import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Saira+Extra+Condensed&display=swap'); */

/* From Public Directory 
@font-face {
  font-family: 'Kurale';
  src: url('/fonts/Kurale.ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
} */
input:focus {
  outline:none;
}

li {
  text-decoration: none;
  list-style: none;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* font-family: "Merienda One"; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* button {
  padding: 0.3rem 0.8rem;
  background-color: var(--accent);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.394);
  box-shadow: 0px 0px 13px 2px rgb(184 184 184 / 60%);
  color: rgb(255, 254, 253);
}
button:hover {
    color: white;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.537);
} */

button{
  border:2px solid transparent;
  background-color: var(--accent);
  font-size: 12px;
  color: rgb(241, 241, 241);
  padding: 0.3rem 0.8rem;
  text-transform:capitalize;
  cursor:pointer;
  transform:all 0.3s;
  position:relative;
}
button:hover {
    color: white;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.537);
}
button:before{
  content:"";
  position :absolute;
  width:24px;
  height:24px;
  top:-5px;
    left:-5px;
  border-top:2px solid tomato;
  border-left:2px solid tomato;
  transition:all 0.25s;
}
button:hover:before ,button:hover:after{
  width:110%;
  height:120%;
}
button:after{
  content:"";
  position :absolute;
  width:24px;
  height:24px;
  bottom:-5px;
    right:-5px;
  border-bottom:2px solid rgb(30, 12, 9);
  border-right:2px solid rgb(30, 12, 9);;
  transition:all 0.30s;
}

.altBtn {
  border: 1px solid var(--accent);
  background-color: transparent;
  font-size: 12px;
  color: rgb(255 255 255 / 70%);
  padding: 0.3rem 0.8rem;
  text-transform: capitalize;
  cursor:pointer;
  transform:all 0.3s;
  position:relative;
}
.altBtn:hover {
  color: rgba(255, 255, 255, 0.9);
}

/* Rich Text Editor global styles */
.ProseMirror {
  border: 1px solid #616161;
  border-radius: 0.25em;
  padding-left: 0.25em;
  margin: 0.5em 0;
}

.ProseMirror * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1em;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0D0D0D;
  color: #FFF;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75em 1em;
  border-radius: 0.5em;
}

.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1em;
  border-left: 2px solid rgba(#0D0D0D, 0.1);
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(#0D0D0D, 0.1);
  margin: 2em 0;
}
/* Rich Text Editor global styles */

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
} 

